* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(30, 59, 44);
    background-color: rgb(188, 211, 199);
}

header {
    margin: 0 auto;
    width: 700px;
   
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: #1c0b4b;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #ecf9f2;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #32653c;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 10px;
    font-size: 0.9rem;
}

input[type="checkbox"] {
    /* width: 15px;
    height: 15px; */
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #32653c;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .8rem;
    font-size: 1.2rem;
}
    
button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 700px;
    text-align: center;
    font-size: 1rem;
    color: #636161;
    border-top: 2px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 15px 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 5px 0;
}