* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --heading-background-color: darkblue;
    --text-align: center;
    --height: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: 1px solid black;
    margin: 15px 0;
    text-align: center;
}

img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    padding: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    position: relative;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 100px;
}

aside img {
    width: 200px;
    height: var(--height);
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px black;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
.right-space{
    padding: 2rem;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .grid main {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid aside {
    grid-column: 2/3;
    grid-row: 1/2;
} */